.headerMain{
background-color:#171C23;
}

.chatMainGrid{
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 80px;
  bottom: 180px;
  //width: fit-content !important;
  max-width: 75% !important;
}
.chatMain{
  width: 100%;
}
